.gallery {
    background: rgba(144, 144, 144, 0.25);
    margin: auto;
    /* margin-top: 5%; */
    margin-bottom: 4%;
    border: 3px solid rgba(15, 15, 15, 0.4);
    border-radius: 7px;
    padding: 10px;
    overflow: auto;
    height: 40em;

    background: rgba(144, 144, 144, 0.25);
    margin: auto;
    margin-bottom: 4%;
    /* margin-left: 9%; */
    /* margin-right: -9%; */
    border: 3px solid rgba(15, 15, 15, 0.4);
    border-radius: 7px;
    padding: 10px;
    overflow: auto;
    height: 62%;
    width: 62%;
    top: 19%;
    left: 19%;
    position: fixed;
    z-index: 5;
    /* display: block; */
    /* padding: 0px 5em 0 5em; */
    /* vertical-align: middle; */
}

.box-content {
    width: 80em;
}
button{
    width: 3em;
    height: 3em;
    font-size: 10px;
}
.btn-up {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    float: left;
}

.btn-up:hover {
    background-color: #008CBA;
    color: white;
}

.btn-close {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
    float: right;
}

.btn-close:hover {
    background-color: #f44336;
    color: white;
}

button img {
    width: 1em;
}