.gallery {
    background: rgba(144, 144, 144, 0.25);
    margin: auto;
    margin-bottom: 4%;
    border: 3px solid rgba(15, 15, 15, 0.4);
    border-radius: 7px;
    padding: 10px;
    overflow: auto;
    height: 40em;
    background: rgba(0, 0, 0, 0.55);
    margin: auto;
    margin-bottom: 4%;
    border: 3px solid rgba(15, 15, 15, 0.4);
    border-radius: 7px;
    padding: 10px;
    overflow: auto;
    height: 62%;
    width: 62%;
    top: 19%;
    left: 19%;
    position: fixed;
    z-index: 5;
}

.box-content {
    width: 80em;
}

button {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    box-shadow: 3px 3px 10px black;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 10px black;
}
.btn-up {
    float: left;
}

.btn-close {
    float: right;
}

button img {
    width: 3em;
}

.btn-like {
    margin-top: 10%;
}