.box-content {
	background: rgba(144, 144, 144, 0.25);
    margin: auto;
    width: 50%;
    /*border: 1px solid rgba(15, 15, 15, 0.4);*/
    border: none;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
}